.navbar .site-name {
  -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: myGradientChange 3s linear infinite;
  animation:myGradientChange 3s linear infinite;
  background-image: -webkit-linear-gradient(-45deg,#ccc,#000 13%,#000 17%,#ccc 25%,#000 33%,#000 37%,#666,#000 50%,#000);
}

@keyframes myGradientChange {
    0%,100% {
        background-position: 100% 0;
    }
    20%,99.99% {
        background-position: -100% 0;
    }

}